@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
*{
    font-family: 'Mukta', sans-serif;
}

.body {
    background-color: #b0b98ea6;
    font-family: 'Roboto', sans-serif;
}

.wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    font-size: 72px;
  }

.Line-Chart {
    background-color: rgb(27, 163, 197);
    padding: 25px;
    border-radius: 100px;
    border: 2px solid rgb(216, 50, 0);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 72px;
}

.Header {
    font-size: 48px;
    margin-bottom: 20px;
    padding: 20px;
}

.Chart {
    height: 400px;
}

.axisBlack line {
    stroke-opacity: 3;
}

.axisBlack path {
    stroke-opacity: 3;
}

.axisBlack text {
    fill: rgb(0, 0, 0);
}

.lineOrange {
    fill: none;
    stroke: rgb(216, 50, 0);
    stroke-width: 3px;
}

.wrapper-container-worldmap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.World-Map {
    background-color: rgb(171, 173, 22);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Chart4 {
    height: 400px;
}
.Header4 {
    font-size: 48px;
    margin-bottom: 20px;
}